{% extends "base_simple.html" %}

{% block app_content %}
    <form class="form-horizontal" id="myForm">
        <div class="row">
            <input type="hidden" name="ID" value="{{table[0]['ID']}}">
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Vorname:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Vorname" value="{{table[0]['Vorname']}}">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nachname:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Nachname" value="{{table[0]['Nachname']}}">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Geburtsdatum:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Geburtsdatum" value="{{table[0]['Geburtsdatum']}}">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Eintrittsdatum:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Eintrittsdatum" value="{{table[0]['Eintrittsdatum']}}">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Vorstandstätigkeit:</label>
                    <div class="col-md-3">
                        <button type="button" onclick="vorstandsblockInsert()" class="btn btn-primary btn-lg btn-block">Einfügen</button>
                    </div>
                </div>
            </div>

            {% if table_vorstand %}
                {% for row in table_vorstand %}
                {% set row_num = loop.index0 + 1 %}
                    <br><br>
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Position_{{ "%02d"|format(row_num) }}:</label>
                            <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" name="Position_{{ '%02d'|format(row_num) }}" value="{{ row['Position'] }}" readonly>
                                <div class="input-group-btn">
                                    <button class="btn btn-danger" type="button" onclick="submitDeleteRow({{ row_num }})">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Von:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Von_{{ '%02d'|format(row_num) }}" value="{{ row['Von'] }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Bis:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Bis_{{ '%02d'|format(row_num) }}" value="{{ row['Bis'] }}">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div id="vorstands-container"></div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <button type="button" onclick="submitUpdate()" class="btn btn-primary btn-lg btn-block">Übernehmen</button>
            </div>
             <div class="col-md-7 text-right">
                <button type="button" onclick="submitBack()" class="btn btn-primary btn-lg">Zurück</button>
             </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {% if table_vorstand: %}
        let rowCounter = {{table_vorstand|length}};  // Zählt vorhandene Reihen der Tabelle
    {% else: %}
        let rowCounter = 0;  // Zählt vorhandene Reihen oder startet bei 0
    {% endif %}

    function submitUpdate() {
        var form = document.getElementById('myForm');
        form.action = "{{url_for('details', action='update')}}";
        form.method = "post";
        form.submit();
    }
    function submitDelID() {
        var form = document.getElementById('myForm');
        form.action = "{{url_for('details', action='del_ID')}}";
        form.method = "post";
        form.submit();
    }
    function submitDeleteRow(row) {
        var form = document.getElementById('myForm');
        form.action = "{{url_for('details', action='del_row', row='')}}" + row;
        // Fals ich noch eine variable einfügen möchte
        // form.action = "{{ url_for('details', action='del_row', row='', extra='') }}" + row + "&extra=" + extra;
        // alert(form.action)
        form.method = "post";
        form.submit();
    }
    function submitBack() {
        var form = document.getElementById('myForm');
        form.action = "{{url_for('mitglieder')}}";
        form.method = "post";
        form.submit();
    }
    function vorstandsblockInsert() {
        rowCounter++;  // Erhöht die Zeilennummer für jede neue Reihe
        // Formatierung der Zahl mit führender 0 (immer zweistellig)
        let formattedCounter = rowCounter.toString().padStart(2, '0');

        // Neues HTML-Element für die dynamisch eingefügte Vorstandstätigkeit
        const newBlock = `
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Position_${formattedCounter}:</label>
                    <div class="col-sm-10">
                        <select class="form-control"  name="Position_${formattedCounter}">
                        <option value="1.Vorsitzender">1.Vorsitzender</option>
                        <option value="2.Vorsitzender">2.Vorsitzender</option>
                        <option value="Kassenwart">Kassenwart</option>
                        <option value="Schriftführer">Schriftführer</option>
                        <option value="Vergnügungswart">Vergnügungswart</option>
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Von:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Von_${formattedCounter}" id="cur_date${formattedCounter}" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Bis:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Bis_${formattedCounter}" value="aktiv">
                    </div>
                </div>
            </div>
            <br><br>
        `;

        // Block in den Container einfügen
        document.getElementById('vorstands-container').insertAdjacentHTML('beforeend', newBlock);

        let today = new Date();
        let formattedDate = today.toISOString().split('T')[0]; // YYYY-MM-DD Format
        // Zerlege das Datum
        let [year, month, day] = formattedDate.split('-');
        // Erstelle das Datum im gewünschten Format DD.MM.YYYY
        formattedDate = `${day}.${month}.${year}`;

        document.getElementById('cur_date' + formattedCounter).value = formattedDate;
    }

{% endblock %}


